[submodule "QuadTrees"]
	path = QuadTrees
	url = https://github.com/MonoDevPro/QuadTrees
[submodule "HexagonalNetwork"]
	path = HexagonalNetwork
	url = https://github.com/MonoDevPro/HexagonalNetwork/
